*.log
config/local.js
node_modules
sketch
target
docker-compose.yml
.kaliber-eval
.tempCss
browser-metafile.json
server-metafile.json
target.pem
target.crx
.css
web-ext-artifacts/elasticsearch_explorer-0.2.1.zip
web-ext-artifacts/b13124845be5433c9592-0.2.2.xpi
