.documentLayout,
.mappingLayout {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  
  >.indexLayout {
    padding: 6px;
    text-align: center;
  }
  
  >.index {
    background-color: aqua;
  }
}

.formattedJSON {
  padding: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.buttonBoxLayout {
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: left;
}
