.componentDialogHeadingLayout {
  padding: 6px;
  text-align: center;
}

.componentDialogHeading {
  background-color: aqua;
}


.buttonBoxLayout {
  width: 100%;
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 2px;

  &>* {
    flex: 1;
  }
}

.componentLayout {
  margin: auto;
  padding: 0px;

  &>.containerLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    
  }
}


.componentFormattedJSONLayout {
  padding: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
