.documentLayout,
.mappingLayout {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  width: min(50vw, 80vw);

  >.indexLayout {
    padding: 6px;
  }

  >.index {
    background-color: aqua;
  }
}

.formattedJSON {
  white-space: pre-wrap;
  word-wrap: break-word;
}
