.gridTableLayout {
  padding: 5px;
  width: 100%;
  overflow-x: scroll;
  
  .gridRowLayout {
    display: flex;
    flex-wrap: nowrap;
    height: auto;


    >.gridCell {
      border-right: 1px black solid;
      overflow: hidden;
    }

    >.gridCellLayout {
      overflow: hidden;
      white-space: nowrap;

      &.withPadding {
        padding-left: 4px;
      }

      &:not(:first-child) {
        flex: 0 0 150px;
      }
    }
  }
}
