.gridTableLayout {
  width: 100%;
  overflow-x: scroll;

  .gridRowLayout {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: auto;

    >.gridCellLayout {
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      align-items: center;

      &.withLeftPadding {
        padding-left: 10px;
      }

    }
  }
}
