.firstGridCellLayout {
  flex: 0 0 100px;
}

.gridHeader {
  background-color: teal;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.buttonLayout {
  display: block;
  width: 100%;
}

button.gridButton {
  background-color:rgb(93, 201, 201); 
  padding: 4px;
  border-bottom: 1px black solid;
  border-right: 0px;
  border-top: 0px;
}

.columnSelectWrapperLayout {
  padding-left: 2px;
  padding-bottom: 2px;
  width: 200px;
}

.searchButtonWrapper {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 0px;
  width: 90px;
}

.cellLayout {
  display: flex;
  align-items: center;
}

.filterFieldLayout {
  display: grid;
  grid-template-columns: 150px 200px 40px;
  padding-left: 100px;
  gap: 2px;
}

.filterFormLayout {
  padding-top: 2px;
  padding-bottom: 0px;
  width: 600px;
}

.filterHeaderLayout {
  display: flex;
  gap: 2px;
  align-items: center;
  

  &>* {
    padding-right: 10px;
    padding-left: 10px;
    &:first-child {
      min-width: 90px;
    }
  }

  &>span {
    padding-left: 4px;
    text-align: left;
  }

}

.filterFieldsLayout {
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  &>:first-child {
    padding-top: 2px;
  }
}
