.headerGridCell {
  background-color: teal;
  padding-left: 4px;
  padding-right: 4px;
}

.gridCell {
  border-right: 1px black solid;
  padding-left: 4px;
  padding-right: 4px;
}

.mappingCheckboxCellLayout {
  flex: 0 0 20px;
  justify-content: center;
  align-items: center;
}

.mappingButtonCellLayout {
  flex: 0 0 120px;
}

.indexCellLayout {
  flex: 0 1 800px;
}

.docCountCellLayout {
  flex: 1 1 auto;
}

.componentSearchInput {
  width: 300px;
  border: 0px;
  color: #000;

  &>input {
    width: 100%;
    background-color: rgb(164, 212, 200);;
  }
}
