.indexGridCellLayout {
  flex: 0 0 800px;
}

.gridHeader {
  background-color: teal;
  border-bottom: 2px solid black;
}

.buttonLayout {
  display: block;
  width: 100%;
}

.cellLayout {
  display : flex;
  align-items: center;
  padding-left: 5px;
}
