.componentLayout {
  width: 100vw;
  height: 100vw;
}

.component {
  background-color: rgb(164, 212, 200);
}

.componentHeaderLayout {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 30px;
  align-items: center;
  gap: 40px;
}

.componentHeader {
  background-color: black;
  color: teal;
}
