.componentLayout {
  display: inline-block;
  min-width: 100vw;  
  min-height: 100vh;
}

.component {
  background-color: rgb(164, 212, 200);
}

.componentHeaderLayout {
  min-height: max-content;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 30px;
  align-items: center;
  gap: 40px;
}

.componentHeader {
  background-color: black;
  color: teal;
}
